<nav class="navbar navbar-expand-lg navbar-ligth bg-ligth navbar-fixed-top">
    <img src="../../assets/images/icons/negocios-e-financas.svg" alt="Logo">

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed" [isAnimated]="true">
        <div class="navbar-nav ">
            <a [routerLink]="['home']" class="nav-item nav-link">Home</a>
            <a [routerLink]="['operacional/caixa']" class="nav-item nav-link">Caixa</a>
            <a [routerLink]="['operacional/recarga']" class="nav-item nav-link">Recargas</a>
            <a [routerLink]="['']" class="nav-item nav-link">Relatórios</a>
        </div>
    </div>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Caminho Rota</li>
    </ol>
</nav>