<div class="content center-content">
    
    <div class="row">
        <div class="col-xs-4 col-4 col-md-4 form-group">
            <input type="text" placeholder="Telefone" class="form-control" mask="(00) 0 0000-0000" >
        </div>

        <div class="col-xs-4 col-4 col-md-4 form-group">
            <input currencyMask class="form-control" placeholder="Valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
        </div>

        <div class="col-xs-4 col-4 col-md-4 form-group">
            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
        </div>
    </div>

    <br>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Telefone</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data Inclusão</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>