<div class="content" align="center">

    <h4>Selecione uma opção</h4>

    <div class="card-area">
        <div class="card card-option" style="width: 18rem;" (click)="goToCaixa()">
            <div class="card-body">
                <img src="../../assets/images/icons/pagar.svg" alt="Caixa" width="200px">
                <h5>Caixa</h5>
            </div>
        </div>

        <div class="card card-option" style="width: 18rem;" (click)="goToRecarga()">
            <div class="card-body">
                <img src="../../assets/images/icons/telefone.svg" alt="Caixa" width="200px">
                <h5>Recarga</h5>
            </div>
        </div>

        <div class="card card-option" style="width: 18rem;" (click)="goToCaixa()">
            <div class="card-body">
                <img src="../../assets/images/icons/lista.svg" alt="Caixa" width="200px">
                <h5>Relatorio</h5>
            </div>
        </div>
    </div>

</div>